@import "tailwindcss";
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
}

.dashboardPage {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 240px;
  background: #1e40af;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar button {
  margin: 6px 0;
  padding: 10px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  text-align: left;
}

.logout {
  margin-top: auto;
  background: red;
}

.mainContent {
  flex: 1;
  padding: 30px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}